{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "(cd dist; zip -r ${nextRelease.gitTag}.zip .)"
    }],
    ["@semantic-release/github", {
      "assets": "dist/*.zip"
    }]
  ]
}
